.main {
    width: 100%;
}

.font-weight-bold {
    font-weight: bold !important
}

@media (max-width: 1250px) {
    .d-flex {
        flex-direction: column-reverse !important ;
        align-items: center;
    }

    #info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .image-container {
        order: -1;
        margin-top: 20px;
    }

}

@media (min-width: 1300px) {
    .d-flex {
        flex-direction: row;
    }
}