.h6{
    text-decoration: underline;
}
#main{
    background-color: rgb(198, 170, 225) !important;
}
@media (max-width: 768px) {
    .container{
        width: 80%;
    }
    .d-flex {
        flex-direction: row;
    }
}
@media (min-width : 770px){
    .d-flex {
        flex-direction: row;
    }
}