.navbar-nav{
    --bs-scroll-height: 100px;
}
.bi bi-airplane{
    color: white;
}
.navbar-nav-scroll {
    display: flex; 
    justify-content: center; 
  }
.logout .nav-link {
    color: red !important; /* Change this to the desired color */
  }
  